.esqbaixo {
    position:absolute;
    background-color: green;
    bottom:10px;
    left:0px;
    width:100px;
    height:100px;
}
.esqcima {
    position:absolute;
    background-color: red;
    top:0;
    left:0;
    width:100px;
    height:100px;
}
.dircima {
    position: absolute;
    background-color: yellow;
    top:0;
    right:0;
    width:100px;
    height:100px;
}
.dirbaixo {
    position: absolute;
    background-color: blue;
    bottom:0;
    right:0; 
    width:100px;
    height:100px;
}